{
  "presets": [
    [
      "@babel/preset-react",
      {
        "throwIfNamespace": false, // defaults to true
        "runtime": "automatic" // defaults to classic
        "importSource": "custom-jsx-library" // defaults to react (only in automatic runtime)
      }
    ],    
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "20"
        },
  			"modules": "auto",
  			"sourceType": "unambiguous",
  			"useBuiltIns": "usage",
  			"corejs": {
          "version": "3",
          "proposals": true
        }
      }
    ]
  ],
	"plugins": [
    ["polyfill-corejs3", { "method": "usage-global", "version": "3" }],
    ["@babel/plugin-transform-runtime",
      {
        "corejs": 3,
        "absoluteRuntime": true,
        "helpers": true,  // Enables runtime helper functions
        "regenerator": true // Enables async/await tran  
      }
  ]  
}
