{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "16"
      },
      "modules": false,
      "sourceType": "unambiguous"
    }],
  ],
  "plugins": ["transform-decorators-legacy"]
}